body {
    background-color: rgb(186, 106, 106);
}

h1 {
    -webkit-text-stroke: 2px rgb(43, 41, 41);
    text-align: center;
    font-size: 60px;
    font-family: Arial, Helvetica, sans-serif;
    border: 5px solid rgb(43, 41, 41);
    margin-left: 40%;
    margin-right: 40%;
    margin-top: 80;
    background-color: bisque;
    color: rgb(81, 30, 51);
    border-radius: 15px;
    
}

table,tr,td {
    border: 2px solid black;
    border-collapse: collapse;
    font-size: 20px;
    font-family: Helvetica;
    padding-bottom: 15px;
    padding-top: 15px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: rgb(255, 255, 255);
}

td:hover{
    background-color: bisque;
}
.hersey {
    border: 5px solid  rgb(81, 30, 51);
    width: 615;
    height: 540;
    margin: auto;
    display: flex;
    background-color: rgb(81, 30, 51);
    border-radius: 20px;
}

table {
    margin-top: 10;
    margin-bottom: 10;
    margin-left: 10;
}