* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  font-family: sans-serif;
 
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  max-width: 1000px;
  
}

.content img {
  object-fit: cover;
  margin: 15px;
  height: 300px;
  width: 300px;
  max-width: 100%;
  border-radius: 3px;
  box-shadow: 0 0 20px 5px rgb(191, 128, 25);
  
}
